#botones{
    display: flex;
}

button{
    width: 50%;
    height: 27px;
    margin: 6% 0% 4% 1%;
    background-color: #1CD1B0;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

#botonResetear{
    background-color: #888888;
    color: #FFFFFF;
}